3rd_party/
build/
bin/
test/

# HPC
*.out
*.err
*.sh
*.slurm

# Tests
*.txt
V*/
OpenFOAM/
Fluent/

# Fluent
*.cas
*.dat
*.msh

#Tecplot
*.plt
*.lay

# OSX
.DS_Store

# Visual Studio
.vs/
*.sln

# Visual Studio Code
.vscode/

# CLion
.idea/
cmake-build-*/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
